#Q1. what are data structure and why are the important ?
  Data structure are special formats for organizing , storing and accessing collection of data .They help to manage large amount of data .
  Well chosen data structure simplify data manipulation ( adding , removing , modifying ) elements .
  optimizing searching and strong opera.

#Q2. Explain the difference between mutable and immutable data type with example .
  Mutable data types are modify after creation .In this you can change ,add ,remove elements.
  List , dictionary , sets are mutable data types .
  example
   my_list =[23,45,67]
   my_list.append (80)
   print(my_list )
  Immutable data types are can not changed once they are created .
  string ,tuple .

#Q3.What are main difference between lists and tuple .
The main difference is mutablity in between list and tuple .
List can be changed ,added or removed aftre creation .
Tuple is immutable , it cannot be modified .
List syntax is [] ,tuple syntax () .

#Q4.Describe how dictionary store data ?
In python a dictionary stores data as key-values pairs .
Each value consists of a key value that's key value is unique  identifier .
Flexible data : keys and values can be varioue data types
It is unordered collection of data .

#Q5.Why might you use a set instead of a list in python ?
A set automatically removes duplicates ,while a list allows them.
sets use a hash table ,making membership checks in opertor .
sets are unique , unordered collof data .
Less memory usage .

#Q6. What is a string in python , how is it different from a list .
A string in python is an immutable sequence of character .strings are enclosed in single (') ,duble (") and triple (''' ,""").
strings are immutable and lists are mutable .
In string stores characters and list stores any type of data .

#Q7.How do tuples ensure data integrity in python ?
Tuples are hashble they can be used as dictionary keys and sets elements , ensuring data remains unchanged .
Prevent accidental modification .
Ensures consistency for constants and grouped data .

#Q8.What is a hash table and how does it related to dictionary in python ?
A hash table is a data stucture that stoes key value pairs and allows fast lookups ,insertion and deletion .
A hash function converts a key into a unique integer .
The hash value determine the index where key value stores .
Stores data as key values pairs .
Uses hashing for fast loopkups .

#Q9. Can list contain different data types in types ?
A list can contains different data types .

#Q10.Explain why strings are immutble in python ?
string are immutable because performance optimizing . Python stores only one copy of a string in memory and reuese it when needed .
A string's immutable ensures thats hash value remains constant ,making it a reliable .

#Q11. What advantages do dictionaries offer over lists for certain tasks ?
Dictionaries offer several advantages over lists for certain tasks ,mainly due to key value structure and fast lookups .
Dictionary uses a hash table ,making key based lookups , lists don't have direct access to element by key .
Key based access instead of index based .

#Q12.Describe a scenario where using a tuple would be preferable over a list.
A tuple would be preferable over a list in a scenario where immutablility is important . Tuple are slightly more memory efficient and faster than lists for fixed data .If you need to use these values as dictionary keys or set elements ,tuples can be hashed ,while lists cannot .

#Q13.How do sets handle duplicate values in python ?
In python , sets automatically remove duplicate values and store unique element .

#Q14.How does the "in" keyword work
differently for lists and dictionaries ?
The "in" keyword in pyis used to check for membership ,but its different for lists and dictionaries . In lists when checking if a value exists in a list ,python iterates through each element untill it finds a match .
In dictionaries , when check for membership in a dictionary ,python only checks the keys  ,not the values .

#Q15.Can you modify the element of a tuple ? Explain why and why not .
No , elements of tuple cannot modify because it is immutable in python .
Tuples are designed to be immutable to ensure data integrity .
If you need to modify data ,convert the tuple into a list ,change the value and convert into tuple .

#Q16.What is a nested dictionary and give an example of its use case ?
A nested dictionary is a dictionary that contains one or more dictionaries as values . In this organizes data logically
example :

#Q17.Describe the time complexity of accessing elements in a dictornary .
In a dictionary implementation , accesing an element by its key has an average -case time complexity.

#Q18.In what situations are lists preferred over dictiory ?
In this list the order of elements is important ,lists are preferred because they are ordered data.
lists are sequential access data .
Index based access in list .

#Q19.why are dictionaries considered unordered and how does that effect data retrieval.
Dictionaries are important beacause they provide fast and efficient data retrival using by key -value pair .
stores complex relationships between data in an easily accessible format.

#Q20.Explain the difference between a list and a dictionary in items of data retrievel.
A list is an ordered collection of items indexed by integer position .
a dictionary is an unordered collection of key-values pairs.

In [ ]:
#A 1.
s_1 = "Shweta Trivedi"
print(s_1)

Shweta Trivedi

In [ ]:
#A 2.
Str_1 = "Hello world"
print(len(Str_1))

11

In [ ]:
#A 3.
str_1 = "python programming "
str_1[0:3]

'pyt'

In [ ]:
#A 4.
s_1 ="hello"
s_uper =s_1.upper()
print(s_uper)

HELLO

In [ ]:
#A 5.
text ="I like apple "
text1 = text.replace("apple","orange")
print(text1)

I like orange

In [ ]:
#A 6.
list_1 = [1,2,3,4,5]
list_1

[1, 2, 3, 4, 5]

In [ ]:
from posixpath import lexists
#A 7.
List = [ 1,2,3,4]
List.append(10)
print(List)

[1, 2, 3, 4, 10]

In [ ]:
#A 8.
list = [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [ ]:
#A 9.
list =['a','b','c','d']
list[2]

'c'

In [ ]:
#A 10.
list = [10,20,30,40,50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [ ]:
#A 11.
Tuple_1 =( 100,200,300)
print(Tuple_1)

(100, 200, 300)

In [ ]:
#A 12.
tuple = ("red","green","blue","yellow")
tuple[2:]

('blue', 'yellow')

In [ ]:
#A 13.
tuple = ( 10,20,5,15)
min_num = min(tuple)
print(min_num)

5

In [ ]:
#A 14.
tuple =('dog','cat','rabit')
tuple[1] # cat indexing is one

'cat'

In [ ]:
#A 15.
fruits = ('apple','grapes','orange')
if "kiwi" in fruits :
  print(" kiwi is in the tuple ")
else :
  print(" kiwi is not in the tuple ")

 kiwi is not in the tuple

In [ ]:
#A 16.
A = { 'a' ,'b','c'}
A

{'a', 'b', 'c'}

In [ ]:
#A 17.
A = {'a','b','c'}
A.clear ()
A

set()

In [ ]:
#A 18.
s ={1,2,3,4}
s.remove(4)
s

{1, 2, 3}

In [ ]:
#A 19.
s1= {1,2,3}
s2={3,4, 5}
unique_s= s1^s2
unique_s

{1, 2, 4, 5}

In [ ]:
#A 20.
s1={1,2,3}
s2={2,3,4}
intersection_s= s1 & s2
intersection_s

{2, 3}

In [ ]:
#A 21.
dict_1 = {"name " : "shweta " ,"age " :"25" ,"city ":"kanpur "
}
dict_1

{'name ': 'shweta ', 'age ': '25', 'city ': 'kanpur '}

In [ ]:
#A 22.
dict_1 = {"name ": "shweta ","age ": "25 ","city ": "kanpur "}
dict_1 .update ({"country ":"USA "})
dict_1

{'name ': 'shweta ', 'age ': '25 ', 'city ': 'kanpur ', 'country ': 'USA '}

In [ ]:
#A 23.
dict= {"name ": "john" , "age ":25 }
name = dict["name "]
print(name )

john

In [ ]:
#A 24.
dict ={'name': 'john' ,'age':25,'city':'New york '}
del dict ['age']
print(dict )

{'name': 'john', 'city': 'New york '}

In [ ]:
#A 26.
list = [ 23,45,67,'shyam']
print ("the list is ",list )
tuple = ( 23,45, 80 )
print("the tuple is " ,tuple )
dict={'name':'bob','age ':23}
print("the dictionary is ",dict )

the list is  [23, 45, 67, 'shyam']
the tuple is  (23, 45, 80)
the dictionary is  {'name': 'bob', 'age ': 23}